---
export const prerender = false;
import { getCollection } from "astro:content";
import CanvasCard from "../global/CanvasCard.astro";

const featured = await getCollection("canvases", (canvas) => {
  if (canvas.data.featured) {
    return canvas;
  }
});
---

<div class="w-full flex flex-col gap-y-10 my-10">
  <div class="flex flex-row justify-between items-center">
    <h3 class="text-lg xl:text-2xl">Coleção Destaque</h3>
    <a
      class="ms-0 py-1 px-1 xl:py-2 xl:px-2 flex justify-center text-sm xl:text-base font-medium rounded-lg items-center gap-x-2 h-fit border-2 border-medium-brown bg-medium-brown hover:bg-dark-brown text-white focus:outline-none focus:bg-medium-brown transition duration-150"
      href="/galeria">Ver Mais</a
    >
  </div>

  <div
    class="hidden xl:grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-flow-row gap-5"
  >
    {
      featured.map((item) => {
        if (!item.data.for_sale) {
          return (
            <CanvasCard
              slug={`/galeria/${item.data.slug}`}
              featured_image_url={item.data.featured_image}
              name={item.data.name}
              description={item.data.description}
            />
          );
        }
      })
    }
  </div>

  <div class="flex xl:hidden flex-row overflow-x-scroll gap-5">
    {
      featured.map((item) => {
        if (!item.data.for_sale) {
          return (
            <CanvasCard
              slug={`/galeria/${item.data.slug}`}
              featured_image_url={item.data.featured_image}
              name={item.data.name}
              description={item.data.description}
            />
          );
        }
      })
    }
  </div>

  <p class="text-base xl:text-lg">
    Explore as obras em destaque e descubra peças que contam histórias através
    da arte a óleo.
  </p>
</div>
