---
import type { ImagesUrls } from "../../assets/types"

const { ImageUrl } = Astro.props

const UrlsImage: ImagesUrls = {
  avif: `${ImageUrl}.avif`,
  webp: `${ImageUrl}.webp`,
  jpg: `${ImageUrl}.jpg`,
}
---
<a href={UrlsImage.jpg} target="_blank">
  <picture>
    <source srcset={UrlsImage.webp} type="image/webp">
    <source srcset={UrlsImage.avif} type="image/avif">
    <img width="600" height="600" class="rounded-md" src={UrlsImage.jpg} alt="Foto Alexsandra">
  </picture>
</a>
  
